version: "3.9"

services:
  web:
    build: .docker
    volumes: 
      - .:/app/
    ports:
      - 80:80
    command: ["yarn", "--cwd=/app", "start"]

  mariadb:
    image: mariadb:latest  
    volumes:
      - ../.data_mysql:/var/lib/mysql
    command:
      - "--default-authentication-plugin=mysql_native_password"
      - "--lower_case_table_names=1"       
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: anetdb
      MYSQL_USER: userdb
      MYSQL_PASSWORD: passdb
    ports:
      - "3306:3306"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    environment:
      PMA_HOST: mariadb
      PMA_PORT: 3306
      PMA_USER: userdb
      PMA_PASSWORD: passdb
    links:
      - mariadb
    depends_on:
      - mariadb

  maildev:
    image: maildev/maildev
    ports:
      - "1080:80"
      - "1025:25"

  redis:
    image: redis
    ports:
      - "6379:6379"

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./.htpasswd:/etc/nginx/.htpasswd
    ports:
      - "8081:80"
    links:
      - phpmyadmin