<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Assistant GODS{% endblock %}</title>
        <link rel="stylesheet" href="css/user.css">
        <script type="module" src="js/user.js"></script>
        {# <script>
            var discussion="{{path('discussion')}}";
        </script> #}
    </head>
     <body class="navbar-dark bg-dark">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a href="/"><div class="navbar-brand"></div></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

            </div>
        </nav>

        <div class="container mt-3 px-3">
            {% block body %}{% endblock %}
        </div>

        <footer class="bg-dark text-light py-3 fixed-bottom">
            <div class="container text-center">
                &copy; 2023 Service Web et Innovations
            </div>
        </footer>

        {% block footer %}
        {% endblock %}
    </body>
</html>