<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Assistant GODS{% endblock %}</title>
    <link rel="stylesheet" href="/css/user.css">

    <script type="module" src="/js/jquery-3.5.1.slim.min.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
</head>
<header>
  <!-- Sidebar -->
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
      HELKLO
    </div>    
    </div>
  </nav>
  <!-- Sidebar -->

  <!-- Navbar -->
  <nav
    id="main-navbar"
    class="navbar navbar-expand-lg navbar-light bg-white fixed-top"
  >
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        aria-controls="sidebarMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>

      <!-- Brand -->
      <a class="navbar-brand" href="#">
        LOGO
      </a>
      <!-- Search form -->
      <div class="d-none d-md-flex input-group w-auto my-auto">
         <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/characters">Characters</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/maps">Maps</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/panel">Admin</a>
        </li>
      </div>
      </ul>
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 58px">
  <div id="main-body" class="container pt-4">{% block body %}{% endblock %}</div>
</main>
</html>