{% extends '/layouts/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            Assistant GODS
        </div>
        <div id="charabox" class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div id="newCharacter" class="character-card bg-dark">
                <img src="public/images/plus.png" class="plussign">
                </div>
            </div>
            {% for character in characters %}
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div id="{{ character.id_Character }}" class="character-card bg-dark charactersheet">
                    <h2>{{ character.nom }}</h2>
                    <p>ID: {{ character.id_Character }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
   <script src="js/characterslist.js"></script>
<link rel="stylesheet" href="css/characterslist.css">
{% endblock %}