{% extends '/layouts/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
<script type="module" src="js/user.js"></script>

        Assistant GODS -  Select a Character : 
        <select id="favoriteCharacter" class="select">
{% for character in characters %}
        <option value="{{ character.id_Character }}">{{ character.nom }}</h2>
{% endfor %}
</select>
    
    <div class="card-body chat-body"></div>
    <div id="error" class="error"></div>




    <div class="chat-area d-flex align-items-center justify-content-center">
        <div class="container items-chat">
            <div id="prompt-form" class="row align-items-center">
                <div class="d-flex justify-content-between textarea-chat">
                    <textarea id="prompt-field" class="form-control" style="flex:1;"
                        placeholder="Écrire un message"></textarea>
                    <button id="send" class="send-button btn btn-primary"></button>
                </div>
            </div>
        </div>
    </div>
<style>
html{
    overflow: hidden;
}
</style>
{% endblock %}