{% extends '/layouts/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
 

    <div id="gallery" class=" gallery row justify-content-center">
        <!-- Thumbnails with links to the full-size images -->
        <a class="image" href="images/maps/aon.png" data-lightbox="gallery">
            <img src="images/maps/thumbnails/aon_thumb.png" alt="Aon">
        </a>
        <a class="image" href="images/maps/avhorae.png" data-lightbox="gallery">
            <img src="images/maps/thumbnails/avhorae_thumb.png" alt="avhorae">
        </a>
        <a class="image" href="images/maps/babel.png" data-lightbox="gallery">
            <img src="images/maps/thumbnails/babel_thumb.png" alt="babel">
        </a>
        <a class="image" href="images/maps/fakhar.png" data-lightbox="gallery">
            <img src="images/maps/thumbnails/fakhar_thumb.png" alt="fakhar">
        </a>
        <a class="image" href="images/maps/horde.png" data-lightbox="gallery">
            <img src="images/maps/thumbnails/horde_thumb.png" alt="horde">
        </a>
        <a class="image" href="images/maps/khashan.png" data-lightbox="gallery">
            <img src="images/maps/thumbnails/khashan_thumb.png" alt="khashan">
        </a>
        <a class="image" href="images/maps/ool.png" data-lightbox="gallery">
            <img src="images/maps/thumbnails/ool_thumb.png" alt="ool">
        </a>
        <a class="image" href="images/maps/saeth.png" data-lightbox="gallery">
            <img src="images/maps/thumbnails/saeth_thumb.png" alt="saeth">
        </a>
        <a class="image" href="images/maps/soleilnoir.png" data-lightbox="gallery">
            <img src="images/maps/thumbnails/soleilnoir_thumb.png" alt="soleilnoir">
        </a>
        <a class="image" href="images/maps/royaumesdivises.png" data-lightbox="gallery">
            <img src="images/maps/thumbnails/royaumesdivises_thumb.png" alt="royaumesdivises">
        </a>
        <a class="image" href="images/maps/tuuhle.png" data-lightbox="gallery">
            <img src="images/maps/thumbnails/tuuhle_thumb.png" alt="tuuhle">
        </a>
        <a class="image" href="images/maps/vaelor.png" data-lightbox="gallery">
            <img src="images/maps/thumbnails/vaelor_thumb.png" alt="vaelor">
        </a>
        <a class="image" href="images/maps/tegee.png" data-lightbox="gallery">
            <img src="images/maps/thumbnails/tegee_thumb.png" alt="tegee">
        </a>
        <a class="image" href="images/maps/valdheim.png" data-lightbox="gallery">
            <img src="images/maps/thumbnails/valdheim_thumb.png" alt="valdheim">
        </a>
        <!-- Add more images and thumbnails as needed -->
    </div>

    <link rel="stylesheet" href="css/maps.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">
{% endblock %}