@import "bootstrap.min.css";


body {
  padding-top: 60px; /* Set the top padding to match the navbar height */
  height: 90vh; /* Subtract 20px from the total height to allow for margin */
  margin-bottom: 10px; /* Add 10px margin at the bottom */
  
}

footer {
  background-color: #f5f5f5;
  padding: 10px;
  text-align: center;
}

.container-fluid{
  height: 100%;
}

.card{
  height: 100%;
  margin-bottom: 10px;
}

.navbar-brand {
  display: block;
  width: 150px; /* Set the width and height of the div to match the dimensions of your logo */
  height: 50px;
  background-image: url('../images/logo.svg'); /* Replace with the path to your logo image */
  background-repeat: no-repeat;
  background-size: contain; /* Scale the logo image to fit within the div */
  background-position: center center; /* Center the logo image within the div */
}

.card-body {
  background-color: #f2f2f2;
  padding: 10px;
  flex-grow: 1;
  overflow-y: auto;
  height: fit-content;
  max-height: max-content; /* hauteur maximale */
  overflow-y: scroll;
}
  
.chat-message {
  display: flex;
  margin-bottom: 10px;
}

.chat-message-content {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  max-width: 70%;
}

.chat-message-content p {
  margin: 0;
  overflow-x: hidden;
}

.chat-message-info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chat-message-time {
  font-size: 12px;
  color: #999;
}

.chat-message-right {
  flex-direction: row-reverse;
}

.chat-message-right .chat-message-content {
  background-color: #fdb8b5;
}

.chat-message-right .chat-message-info {
  margin-left: 0;
  margin-right: 10px;
}
.send-button {
  background-image: url('../images/send.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-color:unset;
  width: 50px; /* ajuste la largeur de l'image */
  height: 50px; /* ajuste la hauteur de l'image */
  border: none; /* supprime la bordure */
  cursor: pointer; /* change le curseur en pointer */
  margin-left: 20px;
  margin-right: 10px;
}

.send-button:hover{
  background-color: unset;
}

.loading {
  margin-top: 15px;
  margin-left:2%;
  height: 2em;
  width: 2em;
  display: block;
  background-image: url('../images/typing-loading.gif'); /* Replace with the path to your logo image */
  background-repeat: no-repeat;
  background-size: contain; /* Scale the logo image to fit within the div */
  background-position: center center; /* Center the logo image within the div */
}

.error-message { 
  background-color: #ffe2e2; 
  color: #ff4d4d; 
  border: 1px solid #ff4d4d; 
  padding: 10px; 
  border-radius: 5px; 
  margin-bottom: 5px;
  text-align: center;
}

#tool:hover{
  background-color: unset;
}

.pop-up {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 9999;
  background-color: #fff;
  padding: 20px;
  max-height: 100vh;
  overflow-y: auto;
  border-radius: 2px;
}

.pop-up img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 10px;
}

.pop-up a {
  display: block;
  text-align: center;
}

.pop-up a:hover {
  text-decoration: underline;
}

tr > td{
  margin-top: 5px;
}

.groupgrey{
  background-color: #f3f3f3;
  padding: 7px;
  border-radius: 4px;
}

@media (max-width: 1000px) {
  .navbar-nav.flex-row .nav-item:not(:last-child) {
      margin-right: 10px;
  }
}

.custom-container {
  max-width: 90%; /* Default maximum width for monitor screens */
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767.98px) {
  /* Media query for mobile devices */
  .custom-container {
    max-width: 100%; /* Maximum width for mobile devices */
  }
}

.select{
  max-width: 200px;
  width:fit-content;
  border-radius: 4px;
  border: none;
  background-color: #343a40;
  color: white;
  padding: 3px;
}


#prompt-field{
  width: 100%;
}

.textarea-chat{
  width: 100%;
}