@import "bootstrap.min.css";

html{
  height: 100%;

}


body{
  height: 100%;
}

.container-fluid{
  height: 100%;
}

.card{
  height: 100%-58px;
  margin-bottom: 10px;
}

.navbar-brand {
  display: block;
  width: 150px; /* Set the width and height of the div to match the dimensions of your logo */
  height: 50px;
  background-image: url('../images/logo.svg'); /* Replace with the path to your logo image */
  background-repeat: no-repeat;
  background-size: contain; /* Scale the logo image to fit within the div */
  background-position: center center; /* Center the logo image within the div */
}

.card-body {
  padding: 10px;
  flex-grow: 1;
  overflow-y: auto;
  height: 100%;
  max-height: max-content; /* hauteur maximale */
  overflow-y: scroll;
}

#main-body{
  height:100%;
  overflow: hidden;
}

main{
  overflow: hidden;
  display: flex;
}
  
.chat-message {
  display: flex;
  margin-bottom: 10px;
}

.chat-message-content {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 10px;
  max-width: 70%;
}

.chat-message-content p {
  margin: 0;
  overflow-x: hidden;
}

.chat-message-info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chat-message-time {
  font-size: 12px;
  color: #999;
}

.chat-message-right {
  flex-direction: row-reverse;
}

.chat-message-right .chat-message-content {
  background-color: #c7e4ff;
}

.chat-message-right .chat-message-info {
  margin-left: 0;
  margin-right: 10px;
}
.send-button {
  background-image: url('../images/send.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-color:unset;
  width: 50px; /* ajuste la largeur de l'image */
  height: 50px; /* ajuste la hauteur de l'image */
  border: none; /* supprime la bordure */
  cursor: pointer; /* change le curseur en pointer */
  margin-left: 20px;
  margin-right: 10px;
}

.send-button:hover{
  background-color: unset;
}

.loading {
  margin-top: 15px;
  margin-left:2%;
  height: 2em;
  width: 2em;
  display: block;
  background-image: url('../images/typing-loading.gif'); /* Replace with the path to your logo image */
  background-repeat: no-repeat;
  background-size: contain; /* Scale the logo image to fit within the div */
  background-position: center center; /* Center the logo image within the div */
}

.error-message { 
  background-color: #ffe2e2; 
  color: #ff4d4d; 
  border: 1px solid #ff4d4d; 
  padding: 10px; 
  border-radius: 5px; 
  margin-bottom: 5px;
  text-align: center;
}

#tool:hover{
  background-color: unset;
}

.pop-up {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 9999;
  background-color: #fff;
  padding: 20px;
  max-height: 100vh;
  overflow-y: auto;
  border-radius: 2px;
}

.pop-up img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 10px;
}

.pop-up a {
  display: block;
  text-align: center;
}

.pop-up a:hover {
  text-decoration: underline;
}

tr > td{
  margin-top: 5px;
}

.groupgrey{
  padding: 7px;
  border-radius: 4px;
}

@media (max-width: 1000px) {
  .navbar-nav.flex-row .nav-item:not(:last-child) {
      margin-right: 10px;
  }
}

.select{
  max-width: 200px;
  width:fit-content;
  border-radius: 4px;
  border: none;
  background-color: #6d7782;
  color: white;
  padding: 3px;
}


#prompt-field{
  width: 100%;
}

.textarea-chat{
  width: 100%;
}

.card-footer{
  background-color: #fff
}

body {
  background-color: #fff;
}
@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.chat-area{
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 4;
}

.items-chat{
  width: 60%;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

@media (min-width: 1500px) {
  .chat-area {
    padding-left: 240px;
  }
}
@media (min-width: 992px) and (max-width: 1500px) {
  .chat-area {
    padding-left: 30%;
    width: 80%;
  }
}