@import "tailwindcss/theme" prefix(gods);
@import "tailwindcss/utilities" prefix(gods);
@source '../../**/*.{ts,tsx}';
@source '../../../../app/views/**/*.twig';

@theme {
  --font-display: "Cinzel", serif;
  --font-body: "EB Garamond", serif;

  --color-background: #EDE8DF;
  --color-foreground: #1C1320;
  --color-card: #E3DDD2;
  --color-popover: #F0ECE3;
  --color-primary: #B18416;
  --color-primary-foreground: #F6F2EC;
  --color-secondary: #684878;
  --color-muted: #DCD6CA;
  --color-muted-foreground: #625746;
  --color-destructive: #8B2635;
  --color-border: rgba(28, 19, 32, 0.10);
}
